<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Halaman Utama Toko</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="bg-dark">
    <!-- Header -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        
        <div class="container">
            <a class="navbar-brand" href="#" style="font-family: 'Georgia', serif; font-weight: bold; background-color: green; color: white; padding: 5px 10px; border-radius: 5px; text-shadow: 0 0 15px green;">MENSWEAR</a>


            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link active" href="/">HOME</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/kategori">CATALOG</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/produk">PRODUCT</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact">CONTACT</a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
    {% block content %}
    {% endblock %}
    <!-- Footer -->
    <footer class="py-4 bg-dark text-white">
        <div class="container text-center">
            <p class="card-title" style="font-family: 'Times New Roman', Times, serif;">2024 Toko Saya. All Rights Reserved. 
            
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>